## 导入numpy模块

In [1]:
import numpy as np

## 创建Array数组

### 1. 使用列表创建数组
> 构造函数  array()

In [2]:
data_list = [1, 10, 4, 3, 12, 5, 2, 9]
data = np.array(data_list)
data

array([ 1, 10,  4,  3, 12,  5,  2,  9])

> 使用array()方法，并且使用dtype参数指定数据类型

In [3]:
data2 = np.array(data_list, dtype=np.int8)
data3 = np.array(data_list, dtype=np.float16)
display(data2,data3)

array([ 1, 10,  4,  3, 12,  5,  2,  9], dtype=int8)

array([ 1., 10.,  4.,  3., 12.,  5.,  2.,  9.], dtype=float16)

### 2. 使用arange()方法创建数组
> 在python中创建列表可以使用 range(start,end,step)快速生成列表</br>
> 在numpy中也拥有相同的方法arange(start,end,step)其使用方法和range一样
- start默认值是0
- step默认值是1
- end无默认值，需要手动传递
- arange()生成的数据不包括end，即左闭右开区间

In [4]:
data = np.arange(10)
data

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
data2 = np.arange(1,10,2)
data2

array([1, 3, 5, 7, 9])

### 3. 使用linspace()方法创建数组
> linspace()和arange()方法不同，linespace是根据给定的区间，进行等分获得各个元素</br>
> np.linspace(start, stop, num)
- start是起始值，需要指定
- stop是终止值，需要指定，注意生成的数组结果包含stop，是一个闭区间
- num是等分长度，也就是数组长度，默认值为50
1. 例如：np.linspace(1, 10, 10)
    - 1~10共有10个数，第一个数为1，最后一个数为10，然后num=10，所以进行等分10-1/10-1，间隔为1
    - 结果：[ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.]
2. 例如：np.linspace(1, 100, 10)
    - 1~100共有100个数，第一个数为1，最后一个数为100，然后num=10，所以进行等分100-1/10-1，间隔为11
    - 结果：[  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.]
3. 例如：np.linspace(1, 100)
    - 1~100共有100个数，第一个数为1，最后一个数为100，然后num默认50，所以进行等分100-1/50-1，间隔约等于2.020
    - 所以第一个数是1，第二个是1+2.020=3.020，第三个为3.020+2.020=5.040，......
    - 结果：[  1. , 3.02040816, 5.04081633, 7.06122449, ...]

In [8]:
data = np.linspace(1, 10, 10)
data

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [15]:
np.linspace(1, 100, 10)

array([  1.,  12.,  23.,  34.,  45.,  56.,  67.,  78.,  89., 100.])

In [16]:
np.linspace(1, 100)

array([  1.        ,   3.02040816,   5.04081633,   7.06122449,
         9.08163265,  11.10204082,  13.12244898,  15.14285714,
        17.16326531,  19.18367347,  21.20408163,  23.2244898 ,
        25.24489796,  27.26530612,  29.28571429,  31.30612245,
        33.32653061,  35.34693878,  37.36734694,  39.3877551 ,
        41.40816327,  43.42857143,  45.44897959,  47.46938776,
        49.48979592,  51.51020408,  53.53061224,  55.55102041,
        57.57142857,  59.59183673,  61.6122449 ,  63.63265306,
        65.65306122,  67.67346939,  69.69387755,  71.71428571,
        73.73469388,  75.75510204,  77.7755102 ,  79.79591837,
        81.81632653,  83.83673469,  85.85714286,  87.87755102,
        89.89795918,  91.91836735,  93.93877551,  95.95918367,
        97.97959184, 100.        ])

## 创建二维数组
- 使用array()通过传入二维列表
- 使用array()创建一维数组，再通过reshape()改变维度
- 同理，若想通过一维数组修改成多维数组，借助reshape()方法即可，但需要注意改变前后的元素个数需要保持一致，否则报错

In [18]:
data = np.array([[1,2,3],[4,5,6]])
data

array([[1, 2, 3],
       [4, 5, 6]])

In [19]:
data2 = np.arange(20).reshape(4,5)
data2

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19]])

- 通过reshape方法，修改一维数组为二维数组，但是数据元素个数不一致

In [20]:
np.arange(20).reshape(4,4)

ValueError: cannot reshape array of size 20 into shape (4,4)

- 创建三维数组

In [21]:
np.arange(60).reshape(3,4,5)

array([[[ 0,  1,  2,  3,  4],
        [ 5,  6,  7,  8,  9],
        [10, 11, 12, 13, 14],
        [15, 16, 17, 18, 19]],

       [[20, 21, 22, 23, 24],
        [25, 26, 27, 28, 29],
        [30, 31, 32, 33, 34],
        [35, 36, 37, 38, 39]],

       [[40, 41, 42, 43, 44],
        [45, 46, 47, 48, 49],
        [50, 51, 52, 53, 54],
        [55, 56, 57, 58, 59]]])

## 创建特殊值的数组方式
1. 创建元素全0的数组 zeros()
2. 创建元素全1的数组 ones()
3. 创建指定元素的数组 full()
4. 创建单位矩阵的数组 eye()
5. 创建空的数组 empty()

> zeros(shape, dtype=float)
> - shape 维度 需要传入一个元组，当是创建一维数组时，(一维数组元素个数,) 不要忘记逗号
> - dtype 数据类型，默认float64

In [22]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [23]:
np.zeros((5,))

array([0., 0., 0., 0., 0.])

In [24]:
np.zeros((3,3), dtype=np.int8)

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]], dtype=int8)

> ones(shape, dtype=float)
> - shape 维度 需要传入一个元组，当是创建一维数组时，(一维数组元素个数,) 不要忘记逗号
> - dtype 数据类型，默认float64

In [25]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [26]:
np.ones((5,))

array([1., 1., 1., 1., 1.])

In [27]:
np.ones((3,3), dtype=np.int8)

array([[1, 1, 1],
       [1, 1, 1],
       [1, 1, 1]], dtype=int8)

> full(shape, fill_value, dtype=None)
> - shape 维度 需要传入一个元组，当是创建一维数组时，(一维数组元素个数,) 不要忘记逗号
> - fill_value: 数组的填充值
> - dtype=None 自适应

In [28]:
np.full((2,3), 3)

array([[3, 3, 3],
       [3, 3, 3]])

In [29]:
np.full((2,), 3)

array([3, 3])

In [31]:
np.full((2,3), 6, dtype=np.float16)

array([[6., 6., 6.],
       [6., 6., 6.]], dtype=float16)

> empty(shape, dtype=float)
> - shape 维度 需要传入一个元组，当是创建一维数组时，(一维数组元素个数,) 不要忘记逗号
> - 注意：empty()创建的数组，并不是没有值的空数组，会直接输出内存里原有值

In [32]:
np.empty((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [33]:
np.empty((2,))

array([8.73254326e+09, 1.76946876e+41])

In [34]:
np.empty((2,3), dtype=np.int8)

array([[1, 1, 1],
       [1, 1, 1]], dtype=int8)

### 根据已有的数组形状创建新数组
1. zeros_like(arr) ：根据传入的数组arr创建相同维度值为全0的数组
2. ones_like(arr) ：根据传入的数组arr创建相同维度值为全1的数组
3. full_like(arr) ：根据传入的数组arr创建相同维度值为指定值的数组
4. empty_like(arr) ：根据传入的数组arr创建相同维度的空数组

In [36]:
data = np.arange(1,13).reshape(3, 4)
data

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [37]:
np.zeros_like(data)

array([[0, 0, 0, 0],
       [0, 0, 0, 0],
       [0, 0, 0, 0]])

In [38]:
np.ones_like(data)

array([[1, 1, 1, 1],
       [1, 1, 1, 1],
       [1, 1, 1, 1]])

In [39]:
np.full_like(data, 55)

array([[55, 55, 55, 55],
       [55, 55, 55, 55],
       [55, 55, 55, 55]])

In [40]:
np.empty_like(data)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])